@import "@blueprintjs/core/lib/scss/variables";

.app-root {
  display: flex;
  height: 100vh;
  background-color: $light-gray5;
}

.app-root.bp5-dark {
  background-color: $dark-gray5;
}

.app-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-screen pre {
  background-color: $dark-gray2;
  height: 100%;
}

.app-layer-list {
  display: block;
}

.app-layer-name {
  background: none;
  border: none;
  appearance: none;
  font-weight: bold;
  max-width: calc(100% - 30px);
}

.app-layer-collapse {
  background: none;
  border: none;
  appearance: none;
  font-weight: bold;
}

.flex {
  display: flex;
}

.center {
  margin: auto;
}
